h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  position: relative;
}

h1:hover > a > .icon-link::after,
h2:hover > a > .icon-link::after,
h3:hover > a > .icon-link::after,
h4:hover > a > .icon-link::after,
h5:hover > a > .icon-link::after,
h6:hover > a > .icon-link::after {
  color: rgba(160, 160, 160, 1);
}

h1 > a:hover > .icon-link::after,
h2 > a:hover > .icon-link::after,
h3 > a:hover > .icon-link::after,
h4 > a:hover > .icon-link::after,
h5 > a:hover > .icon-link::after,
h6 > a:hover > .icon-link::after {
  text-decoration: underline;
}

h1 > a > .icon-link::after,
h2 > a > .icon-link::after,
h3 > a > .icon-link::after,
h4 > a > .icon-link::after,
h5 > a > .icon-link::after,
h6 > a > .icon-link::after {
  position: absolute;
  right: calc(100% + 8px);
  content: '#';
  color: rgba(160, 160, 160, 0);
  text-decoration: none;
  transition: 200ms;
}

